  body {
    background-color: white;
    font-family: 'Libre Baskerville', serif;
  }

  #container {
    width: 95%;
    display: block;
  }
  
a:link {
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-weight: bold;
    margin-top:3px;
    color: #ed1b24;
}

a:visited {
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-weight: bold;
    margin-top:3px;
    color: #7a7375;
}

a:hover {
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-weight: bold;
    margin-top:3px;
    color: #f5fb9d;
}

a:active {
    text-decoration: underline;
    font-family: 'Cutive', serif;
    font-weight: bold;
    margin-top:3px;
    color: #ed1b24;
}

a.nav:link {
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-weight: bold;
    margin-top:3px;
    color: #ffffff;
}

a.nav:visited {
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-weight: bold;
    margin-top:3px;
    color: white;
}

a.nav:hover {
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-weight: bold;
    margin-top:3px;
    color: #f5fb9d;
}

a.nav:active {
    text-decoration: underline;
    font-family: 'Cutive', serif;
    font-weight: bold;
    margin-top:3px;
    color: #ed1b24;
}

a.menu:link {
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-size: 12px;
    margin-top:3px;
    color: white;
}

a.menu:visited {
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-size: 12px;
    margin-top:3px;
    color: white;
}

a.menu:hover {
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-size: 12px;
    margin-top:3px;
    color: #f5fb9d;
}

a.menu:active {
    text-decoration: underline;
    font-family: 'Cutive', serif;
    font-size: 12px;
    margin-top:3px;
    color: white;
}

a.submission:link {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 180px;
    padding: 18px 9px 12px 9px;
    background-color: #ed1b24;
    font-family: 'Cutive', serif;
    font-size: 9px;
    color: white;
}

a.submission:visited {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 180px;
    padding: 18px 9px 12px 9px;
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-size: 12px;
    color: white;
}

a.submission:hover {
    display: block;
    background-color: #12844d;
    text-decoration: none;
    text-align: center;
    width: 180px;
    padding: 18px 9px 12px 9px;
    text-decoration: none;
    font-family: 'Cutive', serif;
    font-size: 9px;
    color: #f5fb9d;
}

a.submission:active {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 180px;
    padding: 18px 9px 12px 9px;
    text-decoration: underline;
    font-family: 'Cutive', serif;
    font-size: 9px;
    color: white;
}









/* * * * * MOBILE STYLES * * * * */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
  
  #welcome{
    display: block;
    margin-left: 6px;
  }

  #content{
    display: block;
    margin-left: 6px;
  }

  #show_box{
    display: none;
  }  
  
  #show_box_index{
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 55px;
  }  
  
  #mobile_nav {
    display: block;
    width: 40px;
    height: 47px;
    background-color: #ed1b24;
    float: left;
  }
  
  #main_nav {
    display: none;
  }
  
  #main_nav ul {
    display: none;
  }

  #main_nav li {
    display: none;
  }
  
  #main_body{
    display: none;
  }
  
  iframe.video {
      width: 290;
      height: 167px;
  }
  
    #twitterlist {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
  }

  #menu {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #ed1b24;
    text-align: center;
  }
    
  #top_nav {
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 20px;
    left: 20px;
    width: 90%;
    min-height: 200px;
    background: red;
    text-align: center;
  }  

  #top_nav ul {
    display: inline-block;
    list-style-type: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
  }

  #top_nav li {
    color: white;
    font: 36px;
    margin-top: 24px;
    width: 150px;
    font-family: 'Cutive', serif;
    border-bottom: 1px solid white;
  }
  img.about {
    display: block;
    width: 93%;
    margin-right: auto;
    margin-left: auto;
  }
  img.main {
    display: inline-block;
    max-width: 90%;
    border: 0px;
    margin-top: 75px;
    margin-bottom: 26px;
  }
  #float_right {
    display: block;
    text-align: right;
    width: 100%;
    margin-bottom: 36px;
  }
  p.story-description {
    width: 250px;
    background-color: none;
    margin-bottom: 65px;
  }
  div.plist_name{
    display: inline-block;
    width: 115px;
    margin: 26px 3px 3px 3px;
    text-align: center;
    overflow: hidden;
    float: both;
  }
}








/* * * * * * FULL SIZE * * * * */
@media only screen 
and (min-width : 1000px){
  
  #mobile_nav {
    display: none;
  }
  
  #welcome{
    display: block;
    margin-left: 250px;
  }
  
  #content{
    display: block;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 24px;
    text-align: left;
    padding: 80px, 12px, 80px, 12px;
  }
  
  #content-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    text-align: center;
  }
    
  #show_box{
    width: 250px;
    float: left;
    margin-top: 0px;
    clear: left;
  }

  #show_box_index{
    width: 250px;
    float: left;
    margin-top: 0px;
  }
  
  #main_nav {
      display: inline-block;
      width: 100%;
      background-color: #ed1b24;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
  }
  
  #main_nav ul {
    display: inline-block;
    background-color: #ed1b24;
    margin: 0px 0px 0px 0px;
    text-align: left;
  }

  #main_nav li {
    color: #FFFFFF;
    list-style-type: none;
    padding: 6px 25px 6px 25px;
    float: left;
    font-family: alegreya-sans;
  }
  
  #upcoming {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: 35px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    vertical-align: top;
    padding-top: -6px;
  }
  
  #upcoming_index {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: 35px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    vertical-align: top;
  }
    
  #right_column {
    display: block;
    width: 550px;
    margin-left: 260px;
  }

  iframe.video {
      width: 560px;
      height: 315px;
  }
  
  #twitterlist {
      display: inline-block;
      width: 600px;
      margin-top: 30px;
  }
  
  #menu {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 55px;
    background-color: #ed1b24;
    text-align: left;
  }
  
  #top_nav {
    display: none;
  }  

  #top_nav ul {
    display: none;
  }

  #top_nav li {
    display: none;
  }

  img.main {
    display: inline-block;
    max-width: 90%;
    border: 0px;
    margin-top: 105px;
  }
  img.about {
    display: block;
    width: 200px;
    float: left;
    margin-right: 12px;
  }
  p.story-description {
    width: 550px;
    background-color: none;
    margin-bottom: 65px;
  }
  div.plist_name{
    display: inline-block;
    width: 155px;
    margin: 26px 3px 3px 3px;
    text-align: center;
    overflow: hidden;
    float: both;
  }
}








/* * * * * DEVICE INSENSITIVE * * * * */

#center-box{
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#footer{
  display: block;
  clear: both;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#featured-story {
  display: block;
  width: 600px;
  background-color: #ffffff;
  margin-right: 16px;
  text-align: left;
}
div.performer{
  display: inline-block;
  background-color: none;
  margin: 45px 0px 9px;
}
  h1{
    font-family: 'Cutive', serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: 40px;
  }
  h1.name{
    font-family: 'Cutive', serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
  }  
  h2{
    font-family: 'Cutive', serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 40px;
  }
  h2.clear{
    font-family: 'Cutive', serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    clear: both;
  }
  h2.show_name{
    font-family: 'Cutive', serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 40px;
    line-height: 0px;
  }
  h2.story-title {
    clear: both;
    margin-top: 24px;
  }      
hr{
  margin-top: 32px;
}
img.links {
    display: inline-block;
    max-width: 35px;
  }
img.performer_pic {
  margin-bottom: 12px;
  max-width: 90%;
  box-shadow: 5px 5px 10px #888888;
}
img.tagline {
  display: inline-block;
  max-width: 70%;
  border: 0px;
  margin: 0px 36px 0px 10px;
}
img.social {
  display: inline-block;
  width: 45px;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-bottom: 10px;
    padding: 6px;
    vertical-align: top;
}

  label.normal {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-bottom: 10px;
    padding: 6px;
    vertical-align: top;
  }
  label.error {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-bottom: 10px;
    padding: 6px;
    vertical-align: top;
    color: red;
  }
ol{
  display: block;
  font-size: 11px;
  width: 400px;
}
p {
  text-align: left;
  width: 80%;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 12px;
}
  p.calendar_month{
    font-family: 'Libre Baskerville', serif;
    position: relative;
    bottom: -14px;
    left: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: red;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 0px;
  }  
  p.calendar_day{
    position: relative;
    font-family: 'Libre Baskerville', serif;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
  }  
  p.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  p.clear {
    display: block;
    width: 100%;
    clear: both;
    max-height: 2px;
    font-size: 1px;
  }
  p.copyright {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    margin-top: 52px;
  }
  
  p.footer {
    color: #000000;
    text-align: center;
    font-size: 12px;
    margin-top: 32px;
  }
p.margin_bottom{
  text-align: left;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 12px;
  margin-bottom: 9px;
}
p.menu-logo {
  float: left;
}
p.next_show{
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: red;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 0px;
}  
p.performer-name {
  font-size: 16px;
  margin-bottom: 4px;
}

p.show-date {
  font-size: 12px;
  margin-top: 0px;
}
p.story-title {
  clear: both;
}
p.tickets {
  margin-top: 6px;
  width: 100px;
}


  .bold {
    font-weight: bold;
  }

  span.fine_print {
    font-family: sans serif;
    font-size: 11px;
  }

  #turn_off_nav {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  }

  nav {
    display: none;
    position: absolute;
    background-color: #0000ff;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    z-index: 5;    
  }

.video-responsive {
  position: relative;
  width: 90%;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed,
.video-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}






/* BUTTON STYLES */

.formbutton{
     width: 110px;
     height: 32px;
     border: none;
     padding-top: 6px;
	 font-size: 12px;
	 font-family: Arial, sans-serif;
	 text-align: center;
     color: #FFFFFF;
     background-color:transparent;
     background:url(images/sign_button.png) no-repeat;
     background-position: 0px 0px;
}

.formbutton:hover{
     width: 110px;
     height: 32px;
     border: none;
     padding-top: 6px;
	 font-size: 12px;
	 font-family: Arial, sans-serif;
	 text-align: center;
     color: #FFFFFF;
	 background-color:transparent;
     background:url(images/sign_button.png) no-repeat;
     background-position: 0px -38px;
}



